* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#hero {
  height: 100vh;
  background-color: #e63945;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  width: 100%;
  position: sticky;
}
.nav_logo img {
  margin-left: 30px;
}
.navbar a {
  color: #ffffff;
  font-weight: 600;
  list-style: none;
  text-decoration: none;
  margin-right: 20px;
}
.navbar ul {
  display: flex;
  gap: 10px;

  list-style: none;
}
.navbar a {
  padding: 5px;
  font-size: 15px;
}
.navbar a:hover {
  color: rgb(8, 8, 8);
}
.hero_image img {
  margin-left: 150px;
  height: 650px;
}
.hero_image img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.download_app a {
  height: 60px;
  font-size: 15px;
  border-radius: 30px;
  padding: 15px;
  background-color: #ffffff;
  color: #faab34;
  width: 200px;
}
.download_app :hover {
  color: brown;
}
.content {
  justify-content: flex-start;
}
.content h1 {
  font-size: 100px;
  color: #ffffff;
}
.content h2 {
  /* font-size: 100px; */
  color: #ffffff;
}
.content a {
  height: 15px;
  font-size: 15px;
  border-radius: 30px;
  padding: 15px;
  background-color: #ffffff;
  color: #faab34;
  text-decoration: none;
  font-weight: 700;
}
.content h4 {
  font-size: 26px;
  color: #ffffff;
}
.content a:hover {
  color: brown;
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
#content {
  height: 100vh;
  padding-top: 50px;
  background-color: #faab34;
  color: #ffffff;
}
.burger {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ingredients_burger2 img {
  height: 550px;
}
.heading1 {
  text-align: center;
}
#ourmenu {
  background-color: whitesmoke;
}
.heading2 {
  text-align: center;
  padding-top: 40px;
}
.heading2 h4 {
  color: #faab34;
  font-weight: 600;
  font-size: large;
}
.heading2 h1 {
  color: black;
  font-weight: 600;
  font-size: 50px;
}
.menu {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.card {
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  text-align: center;
}

.card img {
  height: 150px;
  border-radius: 8px;
}

.card h1 {
  font-size: 24px;
  margin: 10px 0;
}

.card h4 {
  font-size: 18px;
  color: #666;
}

.card p {
  font-size: 14px;
  color: #999;
}
.card img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.ingredients_burger2:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
#outlets {
  height: 100vh;
  background-color: whitesmoke; 
 
}
.shops{
  text-align: center;
  padding-top: 20px;
}
.shops  h1 {
  font-size: 70px;
}
.shops h4{
  color: #faab34;
  font-size: 30px;
}
.shopcard{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  
}
.shopcard img{
  border-radius: 20px;
  gap: 10px;
  padding: 10px;
}
.card_outlet p{
  padding: 5px;
}
.shopcard img:hover{
    transform: scale(1.05);
  transition: 0.3s;
}
#offers{
  height: 100vh;
  background-color: #e63945;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 100px;
  
}

.discount h1{
  font-size: 70px;
  color: #ffffff;
  padding-bottom: 30px;
  font-weight: 600;
  
}
.discount img:hover{
  transform: scale(1.05);
  transition: 0.3s;
}
.discount h3{
  font-size: 25px;
  color: #ffffff;
  font-weight: 600;
  
}
.discount img{
  padding-top: 25px;
}
#footer{
  height: 45vh;
}
.footer_top{
  display: flex;
  padding-top: 100px;
  align-items: center;
  justify-content: space-around;
  

}

.footer_top_left ul{
  display: flex;
  
  list-style: none;
  
}

.footer_top_left a {
  text-decoration: none;
  color: black;
  padding: 25px;
  
}
.footer_top_left a:hover{
  transition: 0.5s;
  
  color: #e63945;

}

.footer_top_right a{
  
  padding-right: 20px;
  font-weight: 600;
  
}
.footer_main_bottom{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 120px;
  gap: 200px;
}
.footer_main_bottom_right a {
  color: black;
  
}


